body {
    background: $bgColor;
    color: #FEFEFE;
}

.panel {
    margin-bottom: 12px;
}

table {
    margin-bottom: 0px !important;

    & thead tr {
        background: $bgColor;
    }

    & thead.panel-title tr {
        background: none;
    }

    & tbody tr {
        background: lighten($bgColor, 3%);

        &:nth-child(odd) {
            background: lighten($bgColor, 10%);
        }
    }
}
